/* popup.css
*/

/**************************************************
 Main, general elements
 *************************************************/
body {
	background: white; /*#f6f6f6;*/
	color: rgb(68, 68, 68);
	font-family: 'Lucida Grande', Arial, Helvetica, Geneva, sans-serif;

	font-size: 14px;
	line-height: 1.5;
}

label {
	font-size: 14px;
}

body.popup {
	min-height: 10px;
	-webkit-user-select: none;
	margin: 0px;
}

#askParams {
	margin: 1px;
	-webkit-border-radius: 2px;
	background: #f2f5f6;
	padding: 15px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#resultLabel {
	font-family: 'Lucida Grande', Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
	background-color: black;
	color: white;
	text-align:left;
}

.thumbnailContainer {
	display:inline-block;
	position: relative;
	
	margin: 10px;
	
	border: 1px solid white;
	width: 128px;
	height: 128px;
	
	background-color: black;
	
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.nuxeoThumbnail {
	vertical-align: middle;
	margin-top: 5px;
}


.thumbnailLabel {
	display: block;
	position: absolute;
	overflow: hidden;
	
	width: 128px;
	top: 112px;
	
	font-size: 10px;
	text-align: center;
	
	color: white;
	background-color: black;
}

/**************************************************
 Utility classes
 *************************************************/
.doHide {
	display:none;
}

.doShow {
	display:block;
}

.disabled {
	color: darkGray;
}

.params {
	/* just a place holder for enable/disable widgets */
}

/**************************************************
 Main form (nuxeo url/login/pwd/enable-disable
 *************************************************/

#connectionInfos {
	margin-top= 0px;
	margin-left= 0px;
	margin-bottom= 0px;
	margin-right= 0px;

	padding-top= 0px;
	padding-left= 0px;
	padding-bottom= 0px;
	padding-right= 0px;

	background-color: white; /*#f6f6f6;*/
}

#displayResults {
	min-width: 500px;
	background: black;
}

.enableCheckboxBlock {
	margin-top: 15px;
	padding-bottom: 5px;
}

#popupForm input[type=text],
#popupForm input[type=password] {
	min-width: 300px;
	width: 300px;
	-webkit-border-radius: 4px;
	border: 3px solid
	-webkit-box-shadow: 0px 1px 0px white;
	padding: 6px;
	font-size: 14px;
}

.popupFieldBlock label {
	display: block;
	padding-left: 3px;
	margin-top: 12px;
}

.checkboxBlock {
	margin-top: 15px;
	padding-bottom: 5px;
}

.popupFieldBlock, .checkboxBlock {
	margin-left: 26px;
	padding-right:50px;
}

.popupSubmitBlock {
	text-align:center;
}

.popupButton {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px 30px 10px 30px;
	margin-top: 14px;
}

.popupButton:hover {
	cursor: pointer;
}

.bigError {
	min-width: 300px;
	font-size: 18px;
	padding: 20px 20px 20px 20px;
	/* Make it super flashy */
	color:red;
	background-color:yellow;
}

.connectionError {
	font-size: 18px;
	padding: 20px 20px 20px 20px;
	/* Make it super flashy */
	color:red;
	background-color:yellow;
	vertical-align: top;

	display: block;
	min-width: 400px;
}

